<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <title>Bootstrap demo</title>
    <style>
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 8px;
  }
</style>
  </head>
  <body>
<div class="container ">

   <form class="mt-5 col-5 mx-auto card p-4 shadow-lg" method="post" enctype="multipart/form-data">
    {% csrf_token %}
        <h2>Update Recipe</h2>

      <div class="mb-3">
       <label for="exampleInputEmail1" class="form-label">Recipe name</label>
        <input name="recipe_name" value="{{recipe.recipe_name}}" required type="text" class="form-control" >
   
       </div>
         <div class="mb-3">
          <label  for="exampleInputPassword1" class="form-label">Dicription</label>
          <textarea name="recipe_discription" required  class="form-control">{{recipe.recipe_discription}}</textarea>
        </div>
 
         <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Recipe image</label>
           <input type="file" name="recipe_image" class="form-control">

     </div>
 
     <button type="submit" class="btn btn-success">Update Recipe</button>
   </form>



</div>
</body>
</html>